.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  position: relative;
  text-align: center;

  .background {
    position: absolute;
    inset: 0;
    z-index: -1;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }


  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 20px;
    
    .headingWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .mainHeading {
      font-size: 3.5rem;  
      color: white;
      font-weight: 500;
      margin-bottom: 0;
      line-height: 1.1; 
    }

    .subHeading {
      font-size: 3.2rem;  
      font-weight: 500;
      margin-top: 5px;
      color: white;
      margin-bottom: 20px;
    }
    
    .highlight {
      color: #FFA500;
    }

    .buttons {
      position: absolute;
      display: flex;
      gap: 50px;
      flex-wrap: wrap;
      bottom: 20px;
      p{
        color: white;
      }
    }
  }
}




@media (max-width: 1024px) {
  .landing {
    .content {
      .mainHeading {
        font-size: 3rem; // Reduce heading size for tablets
      }
      .subHeading {
        font-size: 2.8rem;
      }
      .buttons {
        margin-bottom: 5px; // Less bottom margin on tablets
      }
    }
  }
}

@media (max-width: 768px) {
  .landing {
    .content {
      .headingWrapper {
        margin-top: 50px; // Adjust top margin for smaller screens
      }
      .mainHeading {
        font-size: 2.5rem; // Reduce heading size further
      }
      .subHeading {
        font-size: 2.3rem;
      }
      .buttons {
        flex-direction: column; // Stack buttons vertically
        align-items: center;
        margin-bottom: 25px; // Less bottom margin on mobile
        gap:5px;
      }
    }
  }
}

@media (max-width: 480px) {
  .landing {
    .content {
      .headingWrapper {
        margin-top: 40px;
      }
      .mainHeading {
        font-size: 2rem; // Further reduce heading size
      }
      .subHeading {
        font-size: 1.8rem;
      }
      .buttons {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 360px) {
  .landing {
    .content {
      .headingWrapper{
        margin-top: 30px;
      }
      .mainHeading {
        font-size: 1.8rem; // Even smaller for compact devices
      }
      .subHeading {
        font-size: 1.6rem;
      }
      .buttons {
        margin-bottom: 15px;
      }
    }
  }
}
